.forgot-container {
  width: 90%;
  max-width: 420px;
  margin: 60px auto;
  padding: 30px 25px;
  background: #faf6ff;
  border-radius: 16px;
  box-shadow: 0 8px 30px rgba(120, 80, 200, 0.15);
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.forgot-title {
  font-size: 28px;
  font-weight: 700;
  color: #693ad6;
  margin-bottom: 10px;
}

.forgot-sub {
  font-size: 14px;
  color: #6b6798;
  margin-bottom: 25px;
}

/* INPUTS */
.forgot-container input {
  width: 100%;
  padding: 8px 12px;      
  margin-bottom: 12px;
  border-radius: 8px;      
  border: 2px solid #d8ccff;
  background: #fff;
  font-size: 14px;         
  transition: 0.25s ease;
  height: 38px;     
  box-sizing: border-box;       
}

.forgot-container input:focus {
  outline: none;
  background: #fbf9ff;
  border-color: #a587ff;
  box-shadow: 0 0 5px rgba(150, 120, 250, 0.3);
}
/* SUBMIT BUTTON */
.forgot-btn {
  width: 100%;
  padding: 12px;
  background: #7d55ff;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s;
}

.forgot-btn:hover {
  background: #643fff;
  transform: translateY(-2px);
}

/* SUCCESS OR ERROR MESSAGE */
.forgot-msg {
  margin-top: 18px;
  padding: 10px;
  font-weight: 600;
  border-radius: 10px;
}

.forgot-msg.success {
  background: #e7ffef;
  color: #0f8b3c;
  border: 1px solid #9beeb8;
}

.forgot-msg.error {
  background: #ffe7e7;
  color: #b30000;
  border: 1px solid #ffb3b3;
}
